
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/__LotteriesLayout.cshtml";
}


<div class="container">
    <h3>How to use the Lottery Odds Number</h3>
    <p>
       <ul>
           <li>Enter the total number of balls from which these are drawn Choose the total number.</li>
           <li>Enter the number of balls to be drawn.</li>
           <li> Click the button of "Draw The Lottery".</li>
           <li><a class="navbar-brand" asp-area="" asp-controller="Lotteries" asp-action="Lottery">Click Here</a>for draw your Lottery</li>
       </ul>               
    </p>
</div>


